html {
    background-image: linear-gradient(mistyrose, #fd5da8);
    text-align: center;
}
a {
    color: black;
    border: 5px solid;
    border-color: black;
    background-color: deeppink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    border: 5px solid;
}

h1 {
    font-family: "Lucida Console", Courier, monospace;
}

.input-field {
    border: 5px solid;
    background-color: #FEC5E5;
    font-family: "Lucida Console", Courier, monospace;
}

.text-field {
    border: 5px solid;
    background-color: #FEC5E5;
    font-family: "Lucida Console", Courier, monospace;
}

.mywork {
    border: 10px solid whitesmoke;
    border-radius: 15px;
}

div {
    padding: 30px;
}
p {
    margin: auto;
}

nav {
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: #FEC5E5;
    border: 15px solid #fd5da8;
}

footer {
    size: 100px;
    background-color: #FEC5E5;
}
